.separacion {
    padding-top: 3.5rem;
    margin-top: 2.5rem;
    margin-bottom: 30px;
    margin-left: 23%;
    margin-right: 23%;
}

#page-navbar{
    color: #657187;
    font-family: Inherit;
    line-height: 1.571;
    text-transform: Inherit;
    letter-spacing: 0rem;
    color: #757575;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 24px;

}

/* Contenedor para la tabla */
.table-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centrar la tabla */
    max-width: 800px; /* Ancho máximo de la tabla */
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

/* Estilo para las celdas del encabezado */
table th {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Estilo para las celdas del cuerpo */
table td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas */
table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para el botón */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para las celdas con la capacidad */
.table-capacity {
    text-align: center;
}

/* Estilo para el botón de descarga deshabilitado */
button[disabled] {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

/* Estilo para el mensaje en rojo */
.error-message {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
